<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <robotNamespace>/robot</robotNamespace>

            <ros>
                <namespace>/robot</namespace>
            </ros>

            <rosDebugLevel>warn</rosDebugLevel>

            <!-- WHEEL INFORMATION -->
            <leftJoint>left_wheel_joint</leftJoint>
            <rightJoint>right_wheel_joint</rightJoint>
            <wheelSeparation>0.314</wheelSeparation>
            <wheelDiameter>0.08</wheelDiameter>

            <!-- LIMITS -->
            <wheelTorque>200</wheelTorque>
            <wheelAcceleration>10.0</wheelAcceleration>

            <updateRate>100</updateRate>

            <!-- OUTPUT -->
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_footprint</robotBaseFrame>

            <publishOdom>true</publishOdom>
            <publishOdomTF>true</publishOdomTF>
            <publishTf>true</publishTf>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>

            <commandTopic>/cmd_vel</commandTopic>
            <odometryTopic>/odom</odometryTopic>

            <!-- <odometrySource>1</odometrySource> -->

        </plugin>
    </gazebo>

</robot>